.khan__buy-link {
    line-height: 42px;
    font-weight: normal;
    font-size: 30px;
    margin-left: 20px;
    text-decoration: none;
    color:  #2F80ED;
}
.khan__buy-link:hover{
opacity: .4;
transition-duration: 2s;
}